@import '@/assets/scss/_base.scss';
* {
  box-sizing: border-box;
}

h1, h2 {
  font-weight: normal;
}

.call {
  text-align: center;
  line-height: 60px;
  font-size: 1.4em;
  margin: 0;

  @include small {
    font-size: 1em;
    line-height: 1;
    padding: 1em;
  }

  a {
    color: #5c5c5c;
    text-decoration: underline;
    cursor: pointer;
  }
}

ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
}

li {
  margin: 0;
  justify-content: middle;
  text-align: center;
  position: relative;
  vertical-align: middle;
  padding: 2%;
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;

  @include small {
    width: 100%;
    height: 50vh;
  }

  @include medium {
    width: 50%;
    height: 50vh;
  }

  @include large {
    width: 25%;
    height: 40vh;
  }

  a {
    color: #FFF;
    text-decoration: none;
  }

  &.separator {
    background-color: #f21b3f;
  }

  &.counter {
    background-color: #ffbc0a;
  }

  em {
    position: absolute;
    top: 0;
    left: 0;
    font-size: .8em;
    color: #000;
    display: block;
    background-color: #0c0;
  }

  div {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    color: #FFF;
    font-weight: 700;
    font-size: 1.5em;
    overflow: hidden;
    hyphens: auto;

    &.smaller {
      font-size: 4.2vh;
    }
    &.small {
      font-size: 3.6vh;
    }
    &.medium {
      font-size: 2.9vh;
    }
    &.big {
      font-size: 2.5vh;
    }
    &.bigger {
      font-size: 2.0vh;
    }
  }
}

.add-new-tweet {
  background-color: #def4fa;
  padding: 20px 0;

  .add-new-tweet__wrapper {
    position: relative;
    width: 80%;
    margin: 0 auto;
  }

  legend {
    color: #59cef2;
    font-size: 0.8em;
  }

  .textmessage {
    background-color: #fff;
    border: 2px solid #59cef2;
    border-radius: 5px;
    min-height:  140px;
    height: auto;
    margin: 20px 0;
    display: block;

    &.error {
      color: red
    }
  }

  .c-emojis {
    position: absolute;
    bottom: 0;
    left: 10px;
  }

  .count_tweet {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.8em;
    color: #999;
  }

  footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;

    button {
      background-color: #59cef2;
      border: 0;
      border-radius: 30px;
      font-size: 1.5em;
      color: #FFF;
      padding: .5em 1em;

      @include small {
        font-size: 1em;
        border-radius: 10px;
        padding: .2em .5em;
      }

      &[disabled] {
        opacity: 0.1;
      }
    }
  }

  .disclaimer {
    color: #59cef2;
    font-size: 0.8em;
  }

  .recaptcha {
    width: 80%;
    margin: 1em auto;
  }
}

.loading {
  display: inline-block;
  color: #C00;
  position: relative;
  font-size: 6em;
  text-align: center;
  width: 1em;
  height: 1em;
  top: 50%;
  transform: translate(0, -50%) rotate(0);
  animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
  0 {
      // font-size: 2em;
      transform: translate(0, -50%) rotate(0);
  }
  50% {
      // font-size: 4em
      transform: translate(0, -50%) rotate(-180deg);
  }
  100% {
      // font-size: 2em
      transform: translate(0, -50%) rotate(-360deg);
  }
}

.error {
  color: red !important;
}

.console {
  position: fixed;
  z-index: 9999;
  background-color: rgba(#000, 0.8);
  color: #fff;
  width: 100vw;
  top: 0;
  left: 0;
}

