<div class="home">
  <section class="main">
    <p class="call">
      <a @click="addNewTweet = !addNewTweet">
        <span v-if="!addNewTweet">Clique aqui e inclua sua mensagem personalizada na lista!</span>
        <span v-else>Fechar</span>
      </a>
    </p>
    <article class="add-new-tweet" v-show="addNewTweet" @submit.prevent="makeNewTweet($event)">
      <form>
        <div class="add-new-tweet__wrapper">
          <legend>Em sua mensagem será adicionado o @jairbolsonaro e nossa hashtag #TALKEI</legend>
          <div id="tweetmessage" class="textmessage emojiOk" placeholder="#talkei @jairbolsonaro" contenteditable="true" :class="{'error':tweet_length > char_limit}"
            @keydown="updateText($event)">
            </div>
          <em class="count_tweet" :class="{'error':tweet_length > char_limit}">{{ tweet_length ? tweet_length - char_limit : char_limit }}</em>
          <emojis @emoji="insertEmoji" v-show="!mobilecheck()" />
          <p class="error" v-if="tweet_length >= char_limit">Sua mensagem deve conter até {{ char_limit }} caracteres</p>
        </div>
        <section class="recaptcha">
          <vue-recaptcha
            sitekey="6LdNAJwUAAAAABZVMWl4pSCGXhHPtZ8z5rg93wrp"
            @verify="verifyCaptcha"
            ref="recaptcha"
          />
        </section>
        <footer class="button">
          <p class="disclaimer">Fique tranquilo, tudo aqui é anônimo. Não queremos saber o seu nome ou dados pessoais
          </p>
          <button :disabled="!token && !status">Enviar</button>
        </footer>
      </form>
    </article>
    <toaster ref="newTweet" text="Mensagem enviada com sucesso!" :is_show="new_tweet_success" />
    <ul class="tweetlist">
      <li v-for="(tweet, index) in tweets.data" :data-id="tweet.id" :key="index" :style="{'backgroundColor': tweet.color}"
        @click="messages_sent++">
        <div :class="checkLength(tweet.tweet)">
          <a
            :href="`https://twitter.com/intent/tweet?screen_name=jairbolsonaro&button_hashtag=TALKEI&text=${tweet.tweet}`" @click="countTweet(tweet.id)">{{ tweet.tweet }}</a>
        </div>
      </li>
      <li v-if="isLoading">
        <span class="loading">🍊 ...</span>
      </li>
      <li class="counter">
        <div>
          {{ messages_sent }} Tweets enviados até o momento
          🍊
        </div>
      </li>
      <!-- <li @click="bringMyTweets()">
        carregar mais twwets
      </li> -->
    </ul>
    <div class="console" v-if="toDebug">
      <p>ACTUAL PAGE {{ actual_page }}</p>
      <p>TOTAL {{ tweets.data.length }}</p>
      <p>POSITION {{ innerH }}</p>
      <p>OFFSET HEIGHT {{ scrollt }}</p>
    </div>
  </section>
</div>
